.blue-theme {
	background: #3D7AAE;
	color: white;
}

.light-blue-theme {
	background: #184C85;
	color: white;
}

.bg-light-blue {
	background: #E9EAED;
}

.hide {
	display: none;
}

.search {
	padding: 20px;
	font-size: 3em;
}

.height-30px {
	height: 30px;
}

.title {
	font-size: 10em;
	font-weight: bold;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.full-height {
	height: 100%;
}

.no-padding {
	padding: 0px 0px 0px 0px;
}

.no-margin {
	margin: 0px 0px 0px 0px;
}

.center-vertical {
	vertical-align: middle;
}

.bottom {
	bottom: 0px;
	position: fixed;
	z-index: 10;
}

.white {
	color: #FFFFFF;
}

.round-button {
    border-radius: 50%;
    overflow:hidden;
}

.ellipsis {
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.notification {
	width: 200px;
	height: auto;
	position: fixed;
	left: 50%;
	margin-left: -100px;
	bottom: 10px;
	background-color: #383838;
	color: #F0F0F0;
	padding: 10px;
	z-index: 10;
	text-align: center;
	border-radius: 2px;
	display: none;
}